.overlay {
    position: fixed;
    top: 0; left: 0; width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex; align-items: center; justify-content: center;
    z-index: 100;
}

.content {
    background: #222;
    color: #fff;
    padding: 30px;
    border-radius: 12px;
    width: 600px;
    max-width: 90%;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 15px;
    right: 20px;
    background: transparent;
    color: #fff;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.content h2 {
    margin-bottom: 12px;
    font-size: 25px;
}

.content h3 {
    font-size: 16px;
    margin: 20px 0px;
}

.content p .red {
    color: red;
}

.content p .green {
    color: #0eeb12;
}