main h1{
    margin-top: 4rem;
    color: var(--color-dark);
}

main .main-box {
    width: 80%;
    margin: 1rem auto;
    height: 80vh;
    padding: 2rem;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
}

main .main-box h2 {
    margin-top: 1.5rem;
    margin-bottom: 0.6rem;
}

main .main-box::-webkit-scrollbar {
    width: 5px;
}

main .main-box::-webkit-scrollbar-track{
    background: #f0f0f000;
    border-radius: 10px;
}

main .main-box::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    border-radius: 10px;
}

.sentiment-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 15px;
    color: var(--color-dark)
}

.sentiment-table th {
    background-color: var(--table-highlights);
    color: var(--color-primary);
    font-weight: bold;
    padding: 12px;
    text-align: left;
    font-size: 18px;
    border-bottom: 3px solid var(--color-primary);
}

.sentiment-table td {
    padding: 12px;
    border-bottom: 1px solid var(--table-highlights);
    vertical-align: top;
}

.sentiment-table tbody tr:nth-child(even) {
    background-color: var(--table-highlights);
}

.sentiment-table td:nth-child(4) {
    max-width: 500px;
    word-wrap: break-word;
    white-space: normal;
}

.sentiment-table td:nth-child(3) {
    font-size: 22px;
    color: #FFD369;
}

.chart-container {
    width: 100%;
    height: 1000px;
    margin-top: 30px;
    padding: 20px;
    background-color: var(--table-highlights);
    border-radius: 10px;
}

.chart-container canvas {
    height: 30rem;
}

.sentiment-bar-container {
    display: inline-block;
    width: 100px;        
    height: 10px;        
    background-color: #ddd;
    border-radius: 5px;
    vertical-align: middle;
    margin-right: 8px;
    overflow: hidden;
}

.sentiment-bar {
    height: 100%;
    background-color: green;
    border-radius: 5px;
    transition: width 0.3s ease;
}

.sentiment-score-text {
    vertical-align: middle;
    font-weight: 500;
}
  